<form action="/cats" method="post">
    <label for="name">Name</label>
    <input id="name" type="text" name="cats[name]">

    <br>

    <label for="birth_date">Birth Date</label>
    <input id="birth_date" type="date" name="cats[birth_date]">

    <br>

    <label for="color">Color</label>
    <select for="color" name="cats[color]">
        <option disabled selected>-- Please Select--</option>
        <option value="Tabby">Tabby</option>
        <option value="Calico">Calico</option>
        <option value="Black">Black</option>
        <option value="White">White</option>
    </select>

    <br>

    <%# <label for="sex">Sex</label>
    <select for="sex" name="cats[sex]">
        <option disabled selected>-- Please Select--</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select> %>
    <label for="male">Male</label>
    <input type="radio" for="male" name="cats[sex]" value="M">

    <br>
    
    <label for="female">Female</label>
    <input type="radio" for="female" name="cats[sex]" value="F">

    <br>

    <label for="description">Description</label>
    <textarea name="cats[description]"></textarea>

    <br>

    <input type="submit" value="Add Cat to List">
</form>